
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: black; */
    position: sticky;
    margin: 0;
    
}
#ul-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-right: 10px; */
}
li{
    margin-right: 119px;
    margin-top: 13px;
}
a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.main_section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
}
.text_section{
    padding: 20px;
    margin: 00px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nunito_text{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    color: #405263;
}
p{
    font-family: 'Nunito Sans', sans-serif;
}
button{
    font-family: 'Nunito Sans', sans-serif;
    height: 40px;
    width: 200px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.37) 0px 8px 40px 0px;
    background-color: #ff6d00;
    color: #ffffff;
    font-weight: bold;
    font-size: medium;
}
   